/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}


body{
  height: 100vh;
  display: flex;
  background-image: url("img/background.png");
    animation: fadein 4000ms ease-out;
    -moz-animation: fadein 4000ms ease-out; /* Firefox */
    -webkit-animation: fadein 4000ms ease-out; /* Safari and  Chrome */
    -o-animation: fadein 4000ms ease-out; /* Opera */
	overflow-x: hidden;
}

header {
	display: inline-block;
	margin: 0.5% 0% 0% 2%;
	position:fixed;
	width: 95vw;
	font-family: 'NanumBarunGothic';
 	font-style: normal;
 	font-weight: 400;
}
header > nav {
	text-align: center;
}
header nav ul {
	list-style: none;
}
nav ul li {
	float: left;
	color: #003700;
	font-size: 24px;
	margin-right: 10%;
	letter-spacing: 1px;
	transition: all 0.3s linear;
}
.point{
	float: right;
	text-align: right;
	align-content: right;
	margin-right: 3%;
}
ul li a {
	color: #003700;
	text-decoration: none;
}
ul li:hover a {
	text-decoration-line: underline;
	color: #8C872D;
}

.title{
	align-items: center;
	text-align: center;
	position: absolute;
	margin: 5% 0% 0% 0%;
	font-family: 'Oswald', sans-serif;
	color: #003700;
	font-size: 15.8vw;
}

.main1{
	align-content: center;
	position: relative;
	left: 5%;
	width: 90%;
	margin-top: 70%;
}

#main1 {
	display: inline-block;
	transform: translateY(100px);
	transition:all 800ms;
}

footer{
	display: inline-block;
	width: 100vw;
	font-family: 'Oswald', sans-serif;
	color: #003700;
	position: fixed;
	top: 90%;
	font-size: 1.5vw;
	text-align: center;
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}
